


@font-face {
    font-family: 'Fleeting';
    src: url('fleeting.VF2.woff2') format('woff2-variations');
    font-weight: 100 1000;
    
    font-stretch: 0% 200%;
    font-display: swap;
    font-variant-caps: all-small-caps;
    
  }




.topnav {
  background-color: black;
  overflow: hidden;
  margin-left: 38em;
  align-content: space-between;
  
  
}


.topnav a {
  float:left;
  font-family: Helvetica;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  letter-spacing: 0.05rem;
}


.topnav a:hover {
 
  color: #3db858;
}


.topnav a.active {
 
  color: white;
  
}





.title:hover {
   
    font-variation-settings: 'vari' 1000 ;
    
   
}


:root {
  --text-vari: 500;
 
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}



body{
  display:inline;
  margin: 9%;
  justify-content: center;
  height: 100vh;
  color: white;
  background-color: black;
}


.display {

 
  height: 50%;
  padding: 0.5em;
  text-align: center;
  
}

.title {
  font-family: 'Fleeting';
  font-size: 20em;

  font-variation-settings: 
  'vari' 0 ;
  line-height: 1.1;
  transition: font-variation-settings 500ms;
  align-self: center;
 
 
}

.description {
  font-family: 'Helvetica';
  font-size: 15px;
  font-weight:100;
  line-height: 2em;
  
}


.container {
  font-family: "Fleeting";
  margin: 0 auto;
  max-width: 60rem;
  padding: 3rem;
  text-align: center;
  letter-spacing:4 px;
  justify-content:center;
}

.demo-text {
  font-size: 5rem;
  

  font-stretch: var(--text-vari);
  font-variation-settings: "vari" var(--text-vari);
  margin: 0;
}

.controls {
  margin-top: 3rem;
}

.slider-container:not(:first-child) {
  margin-top: 3rem;
} 

.slider-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  
}

.slider-label {
  font-family: 'Helvetica';
  letter-spacing: 1px;
  font-size: 1.1rem;
  font-stretch: "vari" var(--text-vari);
  font-weight: 350;
  color: #3db858;

}

.output {
  font-style: normal;
  font-variation-settings: "vari" var(--text-vari);
  font-weight: 300;
}

.slider {
  appearance: none;
  width: 100%;
  height: 1rem;
  border-radius: .25rem;
  background: #d9ead3;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background: #3db858;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background: #3db858;
  cursor: pointer;
}

.slider::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
}

.slider::-moz-range-thumb:active {
  cursor: -moz-grabbing;
}

.button {
  background: #3db858;
  border: 3px solid #3db858;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  opacity: 1;
  padding: .25rem .75rem;
  transition: background ease-in .2s;
  color: black;
}

.button:hover,
.button:focus {
  background: #d9ead3;
  color:  #3db858;
}


/* about */

.aboutTitle{

  font-family: "Fleeting";
  font-size:120px;
  margin: 0 auto;
  max-width: 60rem;
  padding: 2rem;
  text-align: center;
  letter-spacing:0.05em;
  justify-content:center;
  font-variation-settings: 'vari' 1000 ;
    

}


.goback{
 font-family: Helvetica;
 font-size: 23px;
 padding: 10px;
 margin-left: 30px;
 
 
}

a {
 
  color: white;
  text-decoration: none;
}

a:hover {
 
  color: #3db858;
  text-decoration: none;
}


a.active {
 
  color: white;
  text-decoration: none;
  
}

.text{
  font-family: Helvetica;
 font-size: 18px;
 font-weight:normal;
 margin-left:23%;
 max-width: 50rem;
 padding: 3rem;
 text-align:left;
 letter-spacing:0.05em;
 justify-content:center;
 line-height: 1.5em;
 text-align:justify;
}

/* contact*/